* {
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(37, 44, 165);
}

h1 {
  font-size: 30px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  font-family: sans-serif;
}

h3 {
  font-size: 30px;
  font-family: sans-serif;
}

h4 {
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  font-family: sans-serif;
  line-height: 1.5;
}

li {
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

article header p {
  font-style: italic;
  font-size: 18px;
}

#copyWrite {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.photos {
  list-style: none;
}

.Main {
  background-color: #c67cdb;
  padding: 10px;
}

aside {
  background-color: #61beb4;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-left: 5px solid;
  border-right: 5px solid;
  width: 500px;
  margin-left: 0;
  margin-right: auto;
  margin-top: 0 auto;
}

body {
  background-color: bisque;
  padding: 0%;
  margin: 0%;
}

.container {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0 auto;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/* article p:nth-child(4) {
  color: red;
} */

a:link {
  color: blue;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: red;
}

a:active {
  color: azure;
}

.htmlcode {
  width: 100%;
  height: auto;
}
button {
  font-size: 20px;
  padding: 10px;
  right: 0%;
  top: 300%;
  position: absolute;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2::after {
  content: "TOP";
  background-color: yellow;
  color: black;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}

h2 {
  position: relative;
}

nav a:link {
  margin-right: 10px;
  display: inline-block;
}

nav {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.Main nav a:link {
  color: black;
  font-family: "Courier New", Courier, monospace;
}

.img-author {
  float: left;
}

.author {
  margin-top: 33px;
  float: left;
  margin-left: 20px;
}

h1 {
  float: left;
}

.clear {
  clear: both;
}

article {
  width: 900px;
  float: left;
}

aside {
  width: 500px;
  float: right;
}

footer {
  clear: both;
}

.related {
  list-style: none;
  margin-left: 0;
}

.Main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
